<div class="progress-bar-container" style="background-color: {{ background_color }}; border-color: {{ border_color }};">
  <div class="progress-bar" style="width: {{ percentage }}%; background-color: {{ color }};">
    <span style="color: {{ text_color }}">{{ percentage }}%</span>
  </div>
</div>
